{% load static %}
<div class="bg-primary text-white py-5">
  <div class="container py-5">
    <h1>
      Fresh from the Farm, <br />
      Delivered to Your Doorstep!
    </h1>
    <p>
      Shop Organic & Homegrown Products at Unbeatable Prices!
    </p>
    <button type="button" class="btn btn-outline-light">
      Learn more
    </button>
    <a href="#products-section">
      <button type="button" class="btn btn-light shadow-0 text-primary pt-2 border border-white">
          <span class="pt-1">Purchase now</span>
      </button>
  </a>
  
  </div>
</div>
